html {
    font-size: 12px;
}

/*
@include media-breakpoint-up(sm) {
    html {
        font-size: 14px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}*/
body {
    background: #2b2b2b;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

body,
p {
    font-family: 'Sofia Pro Light', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Brandon Grotesque Light', Lato, sans-serif;
    font-weight: 100;
    font-size: 72px;
}

/*Styling Scrollbars
THE STATES
---------------------
:horizontal
:vertical
:decrement
:increment
:start
:end
:double-button
:single-button
:no-button
:corner-present
:window-inactive
*/

html.main {
    user-select: none;
}

.main body {
    background: #eee;
    color: #333;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0px;
    overflow-x: hidden;
}

html {
    overflow-y: auto;
    background-color: transparent;
}

::-webkit-scrollbar-button { /* 2 */
}

::-webkit-scrollbar-track-piece { /* 4 */
}

::-webkit-scrollbar-thumb { /* 5 */
}

::-webkit-scrollbar-corner { /* 6 */
}

::-webkit-resizer { /* 7 */
}

::-webkit-scrollbar-track-piece:start {
    /* Select the top half (or left half) or scrollbar track individually */
    -webkit-box-shadow: inset 0 0 6px rgba(132, 0, 132, 0.6);
    border-radius: 8px;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
    /* Select the down or left scroll button when it's being hovered by the mouse */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 200, 220, 0.9);
    border-radius: 2px;
    background-color: #f80;
    cursor: pointer !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer !important;
}

::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 10px;
    display: block;
    background-color: #888;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(100, 100, 100, 0.2);
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(200, 200, 200, 0.8);
    border: 1px inset #aaa;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #888;
    border: 1px inset #777;
    cursor: pointer !important;
}

::-webkit-scrollbar:window-inactive,
::-webkit-scrollbar-track:window-inactive,
::-webkit-scrollbar-button:window-inactive,
::-webkit-scrollbar-track-piece:window-inactive,
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:vertical:window-inactive,
::-webkit-scrollbar-button:start:decrement:window-inactive,
::-webkit-scrollbar-button:end:increment:window-inactive,
::-webkit-scrollbar-button:end:increment:window-inactive {
    -webkit-box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    border: none;
}

html.splash {
    cursor: wait;
    user-select: none;
}

html.splash h1 {
    margin-top: 100px;
    margin-left: -8px;
    font-size: 72px;
}

.splash-message {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: lighter;
}

html.splash h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 9px;
    color: #0ff;
}

.splash body {
    position: relative;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background: #00B7FF;
    background: -webkit-radial-gradient(#2b2b2b 25%, #0FBFB7 30%, #00746D 50%);
    background: -o-radial-gradient(#2b2b2b 25%, #0FBFB7 60%, #00746D 80%);
    background: -moz-radial-gradient(#2b2b2b 25%, #0FBFB7 60%, #00B7FF 80%);
    background: radial-gradient(#5dd 20%, #599 40%, #555 60%, #2b2b2b 80%);
    background-size: 400% 400%;
    -webkit-animation: GradAnimation 10s ease infinite;
    -moz-animation: GradAnimation 10s ease infinite;
    -o-animation: GradAnimation 10s ease infinite;
    animation: GradAnimation 10s ease infinite;
    -webkit-app-region: drag;
}

@-webkit-keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

@-moz-keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

@-o-keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

@keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

input, button, select {
    font-family: 'Sofia Pro Light', Lato, sans-serif;
    border-radius: 0 !important;

}

.form-control-feedback {
    font-size: 10px;
}

::-webkit-input-placeholder {
}

input::-webkit-input-placeholder {

}

input:placeholder-shown {
    /*border: inset 1 px #00ffff;*/

}