html {
    font-size: 12px;
}
/*
@include media-breakpoint-up(sm) {
    html {
        font-size: 14px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}*/
body {
    background: #2b2b2b;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

body,
p {
    font-family: 'Sofia Pro Light', sans-serif;
    font-weight: 400;
    //font-size: 14px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
/ / font-size: 72 px;
}

html.splash {
    cursor: wait;
    user-select: none;
}

html.splash h1 {
    margin-top: 100px;
    margin-left: -8px;
    font-size: 72px;
}

.splash-message {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: lighter;
}

html.splash h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 9px;
    color: #0ff;
}

.splash body {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background: #00B7FF;
    background: -webkit-radial-gradient(#2b2b2b 25%, #0FBFB7 30%, #00746D 50%);
    background: -o-radial-gradient(#2b2b2b 25%, #0FBFB7 60%, #00746D 80%);
    background: -moz-radial-gradient(#2b2b2b 25%, #0FBFB7 60%, #00B7FF 80%);
    background: radial-gradient(#5dd 20%, #599 40%, #555 60%, #2b2b2b 80%);
    background-size: 400% 400%;
    -webkit-animation: GradAnimation 10s ease infinite;
    -moz-animation: GradAnimation 10s ease infinite;
    -o-animation: GradAnimation 10s ease infinite;
    animation: GradAnimation 10s ease infinite;
}

@-webkit-keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

@-moz-keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

@-o-keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

@keyframes GradAnimation {
    0% {
        background-position: 100% 86%;
        color: #fff;
    }
    20% {
        background-position: 100% 86%;
        color: #ccc;
    }
    40% {
        background-position: 0 15%;
        color: #0ff;
    }
    60% {
        background-position: 0 15%;
        color: #999;
    }
    80% {
        background-position: 100% 86%;
        color: #222;
    }
    100% {
        background-position: 100% 86%;
        color: #000;
    }
}

html.main {
    user-select: none;
}

.main body {
    background: #eee;
    color: #333;
}